h1{
    font-size: 60px;
    text-shadow: 0px 5px 10px rgba(8, 2, 50, 0.7);
}

button{
    margin: 20px;
    border: none;
    background: transparent;
    border: 2px solid rgb(2, 8, 120);
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 5px;
}

button:hover{
    background-color: blanchedalmond;
    color: #000;
}

p{
    font-size: 25px;
}